html,
body {
  font-family: "Lato", "Open Sans", "Arial";
  font-size: 15px;
  min-height: 4685px;  
  background-color: #FFFFFF;
}

.container {  
  width: 900px;
  margin: 0 auto;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
  height: 1072px;
  padding-top: 440px;
  background-image: url("../img/Layer 8.png");
  /*color: #FFFFFF;*/
}

layer {
  padding-top: 285px;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  padding-top: 445px;
}

.shape1 {
  padding-top: 920px;
}

